@page "/"
@using BlazingPizza.Data;
@inject PizzaService PizzaSvc;

<h1>Blazzing Pizza</h1>

@if(todayPizzas == null){
  <p>No pizza for now please refresh the page or revise the page after a while</p>
}else{
  <p>Pizza List</p>
}


@code{
  private Pizza [] todayPizzas;
  protected override async Task OnInitializedAsync(){
    todayPizzas = PizzaSvc.getPizzaAsync();
  }
}


